<div class="cbox">
<div class="box-top">
    <div class="box-top-text">Hello</div>
</div>
<div class="box-bottom" >
    <div class="box-checkbox"> 
        <input type="checkbox">122sfs <br>
        <input type="checkbox">122sfs <br>
        <input type="checkbox">rfgsge<br>
        <input type="checkbox">122sfs <br>
        <input type="checkbox">rfgsge<br>
        <input type="checkbox">122sfs <br>
        <input type="checkbox">rfgsge<br>
        <input type="checkbox">122sfs <br>
        <input type="checkbox">rfgsge<br>
        <input type="checkbox">122sfs <br>
        <input type="checkbox">rfgsge<br>
    </div>


</div>
</div>